In [ ]:
pip install gmaps

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gkey

In [2]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-05-12 20:26:55,-23.1203,-134.9692,77.20,78,5,19.10
1,1,Aripuana,BR,2022-05-12 20:26:55,-9.1667,-60.6333,89.71,50,78,3.06
2,2,Yellowknife,CA,2022-05-12 20:26:56,62.4560,-114.3525,46.92,57,40,10.36
3,3,Saint Anthony,US,2022-05-12 20:26:56,45.0205,-93.2180,80.65,63,0,17.27
4,4,Punta Arenas,CL,2022-05-12 20:26:57,-53.1500,-70.9167,46.42,81,75,10.36

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=gkey)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
#Temperature Heatmap

#Get latitude and longitudes

locations = city_data_df[["Lat", "Lng"]]

#Get max temps

#max_temp = city_data_df["Max Temp"]

#Assign figure variable

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.



fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]

cloudiness = city_data_df['Cloudiness']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness,
                                 
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind speed

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df['Wind Speed']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter dataframe based on desired temps

preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-05-12 20:26:55,-23.1203,-134.9692,77.20,78,5,19.10
1,1,Aripuana,BR,2022-05-12 20:26:55,-9.1667,-60.6333,89.71,50,78,3.06
3,3,Saint Anthony,US,2022-05-12 20:26:56,45.0205,-93.2180,80.65,63,0,17.27
8,8,Sisophon,KH,2022-05-12 20:26:59,13.5859,102.9737,78.91,84,100,5.32
9,9,Kapaa,US,2022-05-12 20:26:59,22.0752,-159.3190,80.58,78,75,17.27
15,15,Butaritari,KI,2022-05-12 20:27:02,3.0707,172.7902,81.34,77,100,17.83
20,20,Avarua,CK,2022-05-12 20:27:05,-21.2078,-159.7750,82.45,83,75,9.22
22,22,Avera,US,2022-05-12 20:27:06,33.1940,-82.5271,80.65,49,91,13.42
31,31,Mozarlandia,BR,2022-05-12 20:27:11,-14.7447,-50.5706,88.95,38,62,4.21
32,32,Atuona,PF,2022-05-12 20:27:12,-9.8000,-139.0333,79.05,77,15,23.67

In [24]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [25]:
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0         Rikitea      PF     77.20 -23.1203 -134.9692
1        Aripuana      BR     89.71  -9.1667  -60.6333
3   Saint Anthony      US     80.65  45.0205  -93.2180
8        Sisophon      KH     78.91  13.5859  102.9737
9           Kapaa      US     80.58  22.0752 -159.3190
15     Butaritari      KI     81.34   3.0707  172.7902
20         Avarua      CK     82.45 -21.2078 -159.7750
22          Avera      US     80.65  33.1940  -82.5271
31    Mozarlandia      BR     88.95 -14.7447  -50.5706
32         Atuona      PF     79.05  -9.8000 -139.0333

In [ ]:
#import json
#params = {
    #'key': gkey,
    #'radius': 5000,
    #'type': 'lodging',
    #'location': '45.0205,-93.2180'
    #}

#url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    
#hotel = requests.get(url, params=params)
    
#hotel = hotel.json()
    
#print(json.dumps(hotel, indent=4, sort_keys=True))

In [32]:
params = {
    'key': gkey,
    'radius': 5000,
    'type': 'lodging'
    }
#iterate through dataframe

for index,row in hotel_df.iterrows():
    
    #set base url
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    
    #get latitude and longitude and add it to parameters dict
    lat = row['Lat']
    long = row['Lng']
    location = f"{lat},{long}"
    params['location'] = location
    
    #make request to get json data
    hotel = requests.get(url, params=params)
    
    hotel = hotel.json()
    
    try:
        
        #grab first hotel from search data and insert it into dataframe
        hotel_df.loc[index,'Hotel Name'] = hotel['results'][0]['name']
    
    except(KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,77.20,-23.1203,-134.9692,People ThankYou
1,Aripuana,BR,89.71,-9.1667,-60.6333,
3,Saint Anthony,US,80.65,45.0205,-93.2180,Holiday Inn Express Roseville-St. Paul
8,Sisophon,KH,78.91,13.5859,102.9737,Pyramid Hotel
9,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
15,Butaritari,KI,81.34,3.0707,172.7902,Isles Sunset Lodge
20,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
22,Avera,US,80.65,33.1940,-82.5271,
31,Mozarlandia,BR,88.95,-14.7447,-50.5706,Hotel Santa Mônica
32,Atuona,PF,79.05,-9.8000,-139.0333,Villa Enata

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))