## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Butaritari,KI,80.82,few clouds,3.0707,172.7902,Isles Sunset Lodge
1,9,Balabac,PH,83.71,overcast clouds,7.9868,117.0645,Batalla’s Lodging House
2,12,Labuhan,ID,80.85,overcast clouds,-6.8844,112.2051,DoubleFAG
3,16,Denpasar,ID,80.26,few clouds,-8.6500,115.2167,OYO 3156 Hotel Warta 2
4,60,Namatanai,PG,85.41,clear sky,-3.6667,152.4333,Seagulls Inn Namatani

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp} °F</dd>
</dl> 
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
        #Cities = Salina Cruz, MX / Puerto Escondido, MX / Tecoanapa, MX / Coahuayana, MX

# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City'] == 'Coahuayana') & (vacation_df['Country'] == 'MX')]
vacation_end = vacation_df.loc[(vacation_df['City'] == 'Coahuayana') & (vacation_df['Country'] == 'MX')]
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == 'Tecoanapa') & (vacation_df['Country'] == 'MX')]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == 'Puerto Escondido') & (vacation_df['Country'] == 'MX')] 
vacation_stop3 = vacation_df.loc[(vacation_df['City'] == 'Salina Cruz') & (vacation_df['Country'] == 'MX')]

In [30]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
start = (start[0,0], start[0,1])

end = vacation_end[["Lat", "Lng"]].to_numpy()
end = (end[0,0], end[0,1])

stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop1 = (stop1[0,0], stop1[0,1])

stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop2 = (stop2[0,0], stop2[0,1])

stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()
stop3 = (stop3[0,0], stop3[0,1])

print(start, end, stop1, stop2, stop3)

(18.7333, -103.6833) (18.7333, -103.6833) (16.5167, -98.75) (15.85, -97.0667) (16.1667, -95.2)

In [32]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_directions = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')
fig.add_layer(vacation_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,63,Coahuayana,MX,81.01,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
1,230,Tecoanapa,MX,84.27,overcast clouds,16.5167,-98.7500,Hotel Manglares
2,448,Puerto Escondido,MX,84.31,few clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
3,313,Salina Cruz,MX,86.13,scattered clouds,16.1667,-95.2000,Amerik HOTEL

In [38]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp} °F</dd>
</dl> 
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
destination_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=destination_info)

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(marker_layer)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))